@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Barlow&display=swap');

.footer{
    background-color: #232323;
    padding: 5px;
    color: white;
}
.footer-container{}
.footer-text{
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .footer-text{
        font-size: 12px;
    }
}